.calc-btn {
    width: 60px;
    background: rgb(217, 228, 241);
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    user-select: none;
    border-color: black;
    margin: 2px;
    font-weight: 600;
}

.btn-c {
    background-color: coral;
}

.btn-sign {
    background-color: orange;
}

.btn:hover {
    background: rgb(255, 220, 118);
    color: #fff;
}

#calc-wrap {
    padding: 150px;
    width: 100%;
    text-align: center;
}

#calc {
    width: 340px;
    display: inline-block;
}

#inputVal {
    width: 100%;
    height: 50px;
    padding-top: 7px;
    border-color: rgb(173, 173, 173);
    font-size: 20px;
    resize: vertical;
}